@use "./breakpoints" as bp;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}

body {
    font-size: 14px;
    line-height: 22px;
    font-family: var(--font-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &:has(.hamburger.active) {
        overflow: hidden;
    }
}

main {
    flex-grow: 1;
    overflow: hidden;
}

section {
    padding: 64px 0;

    @include bp.breakpoint-down(lg) {
        padding: 32px 0;
    }
}

.container {
    width: 100%;
    max-width: 1262px;
    padding: 0 35px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    @include bp.breakpoint-down(sm) {
        padding: 0 24px;
    }
}

img {
    width: auto;
    height: auto;
    display: block;
    max-width: 100%;
}

.swiper {
    opacity: 0;
    transition-delay: 0.1s;

    .swiper-slide {
        &:not(:first-child) {
            display: none;
        }

        &:first-child {
            display: flex;
        }
    }

    &.swiper-initialized {
        opacity: 1;

        .swiper-slide {
            &:not(:first-child) {
                display: flex;
            }
        }
    }
}