@use "./breakpoints" as bp;

h1,
.h1 {
    font-size: 38px;
    line-height: 1.2;
    font-weight: 600;

    @include bp.breakpoint-down(lg) {
        font-size: 30px;
        line-height: 1.2;
    }

    @include bp.breakpoint-down(sm) {
        font-size: 20px;
        line-height: 1.4;
    }
}


h2,
.h2 {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;

    @include bp.breakpoint-down(lg) {
        font-size: 20px;
        line-height: 1.4;
    }

    @include bp.breakpoint-down(sm) {
        font-size: 16px;
        line-height: 1.5;
    }
}



h3,
.h3 {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 600;
}


h4,
.h4 {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 600;

    @include bp.breakpoint-down(sm) {
        font-size: 16px;
        line-height: 1.5;
    }
}


h5,
.h5 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
}

a {
    transition: all 0.3s ease;
}

p,
.paragraph,
a,
ul li {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;

    &.sm {
        font-size: 12px;
        line-height: 1.6;
    }

    &.lg {
        font-size: 16px;
        line-height: 1.5;

        @include bp.breakpoint-down(sm) {
            font-size: 14px;
            line-height: 1.5;
        }
    }

    &.strong {
        font-weight: 600;
    }
}

ul,
ol {
    padding: 0;
    margin: 0;
    margin-left: 25px;

    li {
        &::marker {
            font-size: 11px;
        }
    }

    &.with-icon {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
            position: relative;
            padding-left: 34px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 1px;
                width: 21px;
                height: 21px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &.check-icon {
            li {
                &::before {
                    background-image: url('../images/icons/icon-check.svg');
                }
            }
        }
    }
}