@use "../breakpoints" as bp;

.section-call-to-action {

    .container {
        flex-direction: column;
        align-items: center;
        gap: 48px;

        .columns {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 32px;

            .column {
                width: calc(50% - 16px);
                border: 1px solid var(--color-primary-dark);
                border-radius: 24px;
                background-color: var(--color-primary-lighter);
                padding: 24px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 96px;
                    height: 96px;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    .title {
                        font-size: 24px;
                        line-height: 1.3;
                        font-weight: 600;
                    }
                }

                .btn {
                    width: 100%;
                    margin-top: auto;
                }
            }
        }
    }

    &.light_blue {
        background-color: var(--color-primary-lighter);

        .container {
            .columns {
                .column {
                    background-color: var(--color-white);
                }
            }
        }
    }

    &.one-column {
        .container {
            .columns {
                .column {
                    width: 100%;
                    align-items: center;

                    .info {
                        * {
                            text-align: center;
                        }
                    }

                    .btn {
                        width: max-content;
                        min-width: 320px;
                    }
                }
            }
        }
    }

    @include bp.breakpoint-up(md-sm) {
        padding-bottom: 48px;
    }

    @include bp.breakpoint-down(lg) {
        .container {
            gap: 24px;

            .columns {
                gap: 24px;

                .column {
                    padding: 20px;
                    width: calc(50% - 12px);
                    gap: 17px;

                    .icon {
                        width: 64px;
                        height: 64px;
                    }

                    .info {
                        gap: 12px;

                        .title {
                            font-size: 20px;
                            line-height: 1.4;
                        }
                    }
                }
            }
        }

        &.one-column {
            .container {
                .columns {
                    .column {
                        .btn {
                            min-width: auto;
                        }
                    }
                }
            }
        }
    }

    @include bp.breakpoint-down(sm) {
        .container {

            .columns {
                gap: 16px;

                .column {
                    width: 100%;
                    padding: 15px;
                    gap: 12px;

                    .icon {
                        width: 48px;
                        height: 48px;
                    }

                    .info {
                        gap: 8px;

                        .title {
                            font-size: 16px;
                            line-height: 1.6;
                        }
                    }
                }
            }
        }
    }
}