@use "../breakpoints" as bp;

header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--color-white);
    padding: 24px 0;

    ul {
        list-style: none;
        margin-left: 0;
    }

    .container {
        max-width: 1440px;
        padding: 0 24px;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .logo {
            img {
                max-width: 141px;
            }
        }

        .menus-wrapper {
            display: flex;
            align-items: center;
            gap: 32px;

            .header-main-menu {
                display: flex;
                align-items: center;
                gap: 16px;

                li {
                    a {
                        text-decoration: none;

                        &:hover {
                            color: var(--color-text-secondary);
                        }
                    }
                }
            }

            .header-second-menu {
                display: flex;
                gap: 16px;

                li {
                    font-size: initial;
                    line-height: initial;

                    &.btn {
                        padding: 5px 15px;

                        a {
                            transition: none;
                        }
                    }

                    a {
                        text-decoration: none;
                    }
                }
            }

        }
    }

    @include bp.breakpoint-down(xl-lg) {

        .container {
            .menus-wrapper {
                .header-main-menu {
                    gap: 14px;
                }
            }
        }
    }

    @include bp.breakpoint-down(lg) {
        .container {
            gap: 32px;

            .logo {
                position: relative;
                z-index: 1;
            }

            .menus-wrapper {
                margin-left: auto;

                .main-menu-wrapper {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100vh;
                    overflow: auto;
                    background-color: var(--color-white);
                    transform: translateX(100%);
                    transition: transform 0.3s ease;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    padding: 100px 24px 50px;

                    .header-main-menu {
                        flex-direction: column;
                        gap: 15px;
                        align-items: center;
                        justify-content: center;
                        margin-top: auto;
                        margin-bottom: auto;
                    }

                    body:has(.hamburger.active) & {
                        opacity: 1;
                        visibility: visible;
                        transform: translateX(0);
                    }
                }

                .header-second-menu {
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }

    @include bp.breakpoint-down(sm) {
        .container {
            gap: 32px;

            .logo {
                img {
                    max-width: 123px;
                }
            }

            .logo,
            .hamburger {
                z-index: 101;
            }

            .menus-wrapper {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                z-index: 100;
                height: 100vh;
                overflow: auto;
                background-color: var(--color-white);
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding: 100px 24px 50px;
                transform: translateX(100%);
                transition: transform 0.3s ease;

                .main-menu-wrapper {
                    position: relative;
                    transform: none;
                    overflow: visible;
                    height: max-content;
                    opacity: 1;
                    visibility: visible;
                    padding: 0;
                }

                body:has(.hamburger.active) & {
                    transform: translateX(0);
                }
            }
        }
    }
}