@use "../breakpoints" as bp;

.partners {
    background-color: var(--color-primary-lighter);

    .container {
        flex-direction: column;
        align-items: center;
        gap: 32px;

        .logos {
            .swiper-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 32px 64px;
                max-width: 100%;
                width: max-content;
                flex-wrap: wrap;

                .swiper-slide {
                    width: max-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        max-height: 96px;
                    }
                }
            }


        }
    }

    @include bp.breakpoint-down(lg) {

        .container {
            gap: 24px;

            .logos {
                .swiper-wrapper {
                    flex-wrap: wrap;

                    .swiper-slide {
                        img {
                            max-height: 71px;
                            max-width: 190px;
                        }
                    }
                }
            }
        }
    }

    @include bp.breakpoint-down(sm) {
        .container {

            .logos {
                .swiper-wrapper {
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    gap: 0;

                    .swiper-slide {
                        width: 100%;
                        justify-content: center;

                        img {
                            width: auto;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}